/* Fix Metronic */
.input-icon > i {
  display: block !important;
  margin: 11px 2px 4px 10px !important;
  font-size: 16px !important;
}
.pace .pace-progress {
    top: 0 !important;
    height: 10px !important;
}
/* GLOBAL STYLES */
body{
  font-family: 宋体, sans-serif;
}
.portlet > .portlet-title > .tools > a.collapse{
    visibility: visible;
}
/* GLOBAL STYLES */
table.dt-responsive th,
table.dt-responsive td {
    white-space: nowrap;
}
.dt-responsive-wrapper{
    width: 100%;
    overflow-x: auto;
}
table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
  line-height: 16px !important;
}
.tabletools-wrapper{
    float: right;
    margin-top: -60px;
}
.font-lg{
    font-size: 24px;
}
.overflow-hidden{
    overflow: hidden;
}
@media(min-width: 768px){
    .page-title{
        letter-spacing: 5px;
    }
    .page-title small{
        letter-spacing: 2px;
    }
    .page-breadcrumb > li > a{
        letter-spacing: 2px;
    }
    .nav-tabs > li > a{
        padding: 15px 30px;
        letter-spacing: 5px;
    }
    .dt-top-actions{
        position: relative;
        margin-top: 6px;
        margin-right: 176px;
    }
    .form-filter-wrapper .form-filter-block{
        display: inline-block;
        margin-right: 10px;
    }
}
@media(max-width: 480px){
    .pull-right-xs{
        float: right;
    }
    .font-sm-xs{
        font-size: 100% !important;
    }
    .font-xs-xs{
        font-size: 80% !important;
    }
    .btn-sm-xs > i,
    .btn-xs-xs > i{
      font-size: 12px;
    }
    .btn-xs-xs {
      padding: 4px 10px 5px 10px;
      font-size: 15px;
      line-height: 1.5;
    }
    .btn-sm-xs {
      padding: 5px 10px;
      font-size: 15px;
      line-height: 1.5;
    }
    .btn-sm-xs > i,
    .btn-xs-xs > i {
      font-size: 15px;
    }
    .btn-xs-xs {
      padding: 1px 5px;
    }
    .btn-xs-xs > i {
      font-size: 14px;
    }
    .page-sidebar-menu li a {
        padding: 13px 50px !important;
        letter-spacing: 5px;
    } 
    .portlet{
        padding: 15px 5px !important;
    }
    .ver-inline-menu li a{
        letter-spacing: 5px;
    }
    .form-filter-block{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-filter{
        width: 100% !important;
    }
    .font-12-xs{
        font-size: 12px;
    }
}
.yahei{
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
input[readonly].datepickers,
input[readonly].datetimepickers{
    cursor: pointer;
}
.datetimepicker tbody{
    font-size: 12px;
}
.datetimepicker .today{
    background-color: #f5f5f5;
}
.chat-form .input-cont .form-control,
.chat-form .btn-cont .btn-chat{
    font-size: 14px;
    padding-top: 7px;
}
.font-dark{
    color: #666;
}
.font-white{
    color: #fff;
}
.hidden-right{
    display: none;
    float: right;
    text-align: right;
}
.page-bar .page-toolbar .btn-fit-height{
    padding-top: 10px;
    padding-bottom: 10px;
}
.detail-tables .static-info .value {
    font-weight: normal;
}
/**
Layout Styles
***/
.page-footer-inner a{
    color: #bfc9d0;
}
.page-footer-inner a:hover{
    color: #fff;
    text-decoration: none;
}